.button {
    position: fixed;
    z-index: 5;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 36px;
    border-radius: 50%;
    top: calc(100% - 100px);
    left: calc(100% - 100px);
    background: linear-gradient(rgb(0, 0, 0), rgb(142, 142, 142));
    color: white;
    cursor: pointer;
}

.about-actor-button {
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 36px;
    border-radius: 50%;
    top: calc(100% - 100px);
    left: calc(100% - 100px);
    background: linear-gradient(rgb(0, 0, 0), rgb(142, 142, 142));
    color: white;
    cursor: pointer;
}

.openMenu {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: auto 0;
    cursor: pointer;
}

$(document).ready(function() {
    $("#menuButton").click(function() {
        $(".otherButton1").toggle(500);
        $(".otherButton2").toggle(700);
        $(".otherButton3").toggle(900);
    }
    );
    $("#menuButton").click(function() {
        $('.flip').toggleClass('flip-active');
        if ($('.flip').hasClass('flip-active')) {
            $('.flip').addClass('fa-times');
            $('.flip').removeClass('fa-volume-control-phone');
        }
        else {
            $('.flip').addClass('fa-volume-control-phone');
            $('.flip').removeClass('fa-times');
        }
    }
    );
}

);
.openMenu:hover {
    font-size: 26px;
    transition: all 0.4s;
}

.otherButton1 {
    top: calc(100% - 60px);
    left: calc(100% - 158px);
    background: linear-gradient(rgb(47, 47, 47), rgb(142, 142, 142));
    z-index: 4;
}

.otherButton2 {
    top: calc(100% - 142px);
    left: calc(100% - 175px);
    background: linear-gradient(rgb(94, 94, 94), rgb(142, 142, 142));
}

.otherButton3 {
    top: calc(100% - 180px);
    left: calc(100% - 100px);
    background: linear-gradient(rgb(191, 191, 191), rgb(142, 142, 142));
}

.hidden {
    display: none;
}

@keyframes rubberEffectHome {
    0% {
        transform: scale(1);
        top: calc(100% - 30px);
        left: calc(100% - 30px);
    }
    10% {
        transform: scaleX(0.65) scaleY(1.35);
        top: calc(100% - 30px);
        left: calc(100% - 30px);
    }
    20% {
        transform: scaleX(1.05) scaleY(0.95);
        top: calc(100% - 50px);
        left: calc(100% - 50px);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
        top: calc(100% - 70px);
        left: calc(100% - 70px);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
        top: calc(100% - 90px);
        left: calc(100% - 80px);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
        top: calc(100% - 100px);
        left: calc(100% - 100px);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rubberEffectAbout {
    0% {
        transform: scale(1);
        top: calc(100% - 30px);
        left: calc(100% - 30px);
    }
    10% {
        transform: scaleX(0.65) scaleY(1.35);
        top: calc(100% - 30px);
        left: calc(100% - 30px);
    }
    20% {
        transform: scaleX(1.05) scaleY(0.95);
        top: calc(100% - 50px);
        left: calc(100% - 20px);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
        top: calc(100% - 70px);
        left: calc(100% + 10px);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
        top: calc(100% - 90px);
        left: calc(100% + 20px);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
        top: calc(100% - 100px);
        left: calc(100% + 30px);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rubberEffectWork {
    0% {
        transform: scale(1);
        top: calc(100% - 30px);
        left: calc(100% - 30px);
    }
    10% {
        transform: scaleX(0.65) scaleY(1.35);
        top: calc(100% - 30px);
        left: calc(100% - 30px);
    }
    20% {
        transform: scaleX(1.05) scaleY(0.95);
        top: calc(100% + 10px);
        left: calc(100% - 20px);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
        top: calc(100% + 20px);
        left: calc(100% - 10px);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
        top: calc(100% + 25px);
        left: calc(100% + 20px);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
        top: calc(100% + 30px);
        left: calc(100% + 30px);
    }
    100% {
        transform: scale(1);
    }
}

.otherButton1 {
    animation-name: rubberEffectHome;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.otherButton2 {
    animation-name: rubberEffectAbout;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.otherButton3 {
    animation-name: rubberEffectWork;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes flipEffect {
    0% {
        transform: perspective(800px) translateZ(0) rotateY(0) scale(1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(800px) translateZ(110px) rotateY(170deg) scale(1);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(800px) translateZ(110px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(800px) translateZ(0) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(800px) translateZ(0) rotateY(360deg) scale(1);
        animation-timing-function: ease-in;
    }
}

.flip-active {
    backface-visibility: visible;
    animation-name: flipEffect;
    animation-duration: 1.5s;
}